server:
  port: 9000
spring:
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
  application:
    name: producer-service

service:
  send-cron: 0/10 * * * * *
  kafka-topic: task

